@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    background-color: #f7f7f7;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    margin: 20px 50px 0;
    max-width: 1200px;
}

h1,
h3,
p,
pre {
    padding: 10px;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    margin-bottom: -8px;
}

.register {
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    background-color: #3DB4B7;
    width: 200px;
    padding: 8px;
    margin: 10px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
}

p,
pre {
    color: #a6a6a6;
    font-size: 17px;
    line-height: 1.4em;
}

.details {
    position: relative;
    top: 35px;
    right: 125px;
}

.icons {
    float: right;
    position: absolute;
    right: -60px;
}

.form-icons {
    float: right;
    position: relative;
    border: solid 1px rgb(166, 166, 166, 0.3);
    border-radius: 0 2px 2px 2px;
    padding: 14.7px 12px;
}

.lastSection {
    position: relative;
    right: 80px;
}

#container {
    display: flex;
}

.left {
    position: relative;
    right: 200px;
}

.login {
    border: solid 1px rgb(166, 166, 166, .5);
    border-radius: 2px;
    background-color: white;
    width: 500px;
    height: 690px;
    box-shadow: 0 0 1px 0px rgb(136 136 136 / 60%);
}

form {
    position: absolute;
    margin: 30px 15px;
}

text {
    color: #a6a6a6;
}

#remember {
    background-color: #3DB4B7;
    width: 20px;
    height: 20px;
}

.checkbox {
    display: flex;
    align-items: center
}

.forgetPwd {
    float: left;
    position: relative;
    left: 100px;
}

input:focus {
    outline: none;
    border: solid 2px #3DB4B7;
}

.emailField,
.pwdField {
    display: block;
    margin: 50px;
    font-family: 'Cairo', sans-serif;
    color: #a6a6a6;
    padding: 14px 10px 14px;
    width: 390px;
    font-size: 14px;
    border: solid 1px rgb(166, 166, 166, .3);
    border-radius: 2px;
}

label {
    color: #8e8e8f;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2ca4a7;
}

a:active {
    color: #2e8688;
    transform: translateY(2px);
}

.loginbtn {
    display: block;
    background-color: #3DB4B7;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 12px 170px;
    margin: 75px 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1.5px #2e8688;
}

button:hover {
    background-color: #2ca4a7
}

button:active {
    background-color: #2e8688;
    box-shadow: 0 3px #3DB4B7;
    transform: translateY(2px);
}